<!DOCTYPE html>
<html>
<head>
  <title>Ubiquity Book Explorer</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<ul class="hmenu">
  <%= render 'menu/registration_items' %>
  <%= render 'menu/login_items' %>
</ul>

<%= yield %>
</body>
</html>
